<div class="container-fluid container-twitter">
    <div class="container">
        <h1 class="display-3">name: {{model.name}}</h1>
        <h2 class="display-3">age: {{model.age}}</h2>
        <h2 class="display-3">id: {{model.id}}</h2>
    </div>
</div>