<div class="jumbotron twitter-blue">
    <h1 class="display-3">Available Charts</h1>
    <div class="row">
        {{#each model as |cardunit|}} {{card-listing card=cardunit}} {{/each}}
    </div>
</div>