
@import "ember-cli-bootstrap-4/bootstrap";

$backgroundcolor: #4abdac;
$objects: #fc4a1a;
$buttonsbadges: #f7b733;
$cleanbackground: #dfdce3;
$fontcolor: #ffffff;

.twitter-blue{
    background-color: $backgroundcolor;
    color: $fontcolor;
}
.nav-twitter{
    background-color: $objects;
    a{
        color: $fontcolor;   
    }
    li{
        a:hover{
            background-color: $buttonsbadges;
        }
    }
}
.twitter-yellow{
    background-color: $buttonsbadges;
    color: $fontcolor;
}
.twitter-orange{
    background-color: $objects;
    color: $fontcolor;
}
.card{
    margin: 10px;
}

//Google Maps
.ember-cli-g-map {
    height: 100vh;
}
.cardsmap{
    height: 200px;
}






