
@import "ember-cli-bootstrap-4/bootstrap";

$backgroundcolor: #e3e8ec;
$objects: #697d91;
$buttonsbadges: #faa500;
$cleanbackground: #dfdce3;
$fontcolorwhite: #ffffff;
$fontcolorblue: #697d91;
$fontcoloryellow: #faa500;

.twitter-blue{
    background-color: $backgroundcolor;
    color: $fontcolorblue;
}
.nav-twitter{
    background-color: $objects;
    a{
        color: $fontcolorwhite;   
    }
    li{
        a:hover{
            background-color: $buttonsbadges;
        }
    }
}
.twitter-yellow{
    background-color: $backgroundcolor;
    color: $fontcoloryellow;
}
.twitter-orange{
    background-color: $objects;
    color: $fontcolorwhite;
}
.card{
    margin: 10px;
}

//Google Maps
.ember-cli-g-map {
    height: 100vh;
}
.cardsmap{
    height: 200px;
}






