<div class="card twitter-yellow col" style="width: 20rem;">
    <img class="card-img-top" src="{{card.imageurl}}" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">{{card.title}}</h4>
        <p class="card-text">{{card.text}}</p>
        <a href="{{card.link}}" class="btn btn-primary twitter-orange">Go somewhere</a>
    </div>
</div>